{% extends 'consumer_services/base.html' %} 
{% load static %}
{% block main_content %}
	
    {% csrf_token %}
    <div class="login-page text-center">
        <div></div>

        <form class="form-logo" method="post"
        action="{% url 'login' %}"
        enctype="multipart/form-data">
        {% csrf_token %}
            <i class="bi bi-fire" ></i>
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
    
        
        <button class="w-100 btn btn-lg btn-primary mt-4" type="submit">Sign in</button>
        <a href="{% url 'consumer_sign_up' %}"><button type="button" class="w-100 btn btn-lg btn-primary mt-4" >Register</button></a>
        <p class="mt-5 mb-3 text-muted">© Bynry</p>
    </form>
    {{request.user.role}}
</div>
{% endblock main_content %}
